{% extends "email_base.html" %} {% block content %}
<p>Hi {{username}},</p>

<p>
  We have received a request to reset the password for your account at
  TRCustoms.org.
</p>

<p>To reset your password, click on the button below:</p>

<a class="cta" href="{{link}}">Reset password</a>

<p>If you cannot click on the button, please use this link:</p>

<code class="link">{{link}}</code>

<p>
  In case you received this email without requesting for a password reset,
  please contact admin@trcustoms.org about this incident.
</p>
{% endblock %}
