.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  text-align: left;
  padding: 0.5rem;
}
.table th {
  border-bottom: 1px solid var(--input-border-color);
}

.info {
  margin: 0;
}
.rarityBar {
  margin: 0.5rem 0;
  --award-rarity-bar-height: 1.25rem;
}
