.list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75rem;
  text-align: center;
}

@media (max-device-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-device-width: 800px) {
  .list {
    grid-template-columns: repeat(2, auto);
  }
}

.label {
  cursor: pointer;
  color: var(--link-color);
}

.labelWrapper {
  border: 2px solid var(--link-color);
  margin-bottom: 0.5rem;
}
