.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  grid-template-rows: auto auto auto;
  background: var(--box-content-bg-color);
}
.wrapper.positive .badge {
  color: var(--success-fg-color);
}
.wrapper.neutral .badge {
  color: var(--warning-fg-color);
}
.wrapper.negative .badge {
  color: var(--failure-fg-color);
}

.content {
  padding: 1rem;
}

.header {
  background: var(--box-header-bg-color);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.badge :global .Icon {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.userPic {
  --user-pic-size: 2.6rem;
}

.header .info {
  display: flex;
  align-items: center;
  gap: 0.5rem 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .header .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
