.Section {
  margin: 0 0 2rem 0;
}
.Section > *:last-child {
  margin-bottom: 0;
}

.SectionHeader {
  margin: 0 0 0.5rem 0;
  border-bottom: 2px solid var(--section-border-color);
}
.SectionHeader + p {
  margin-top: 0.5rem;
}
