.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
}

.sectionHeader {
  margin: 0 0 1rem 0;
}

.exampleHeader {
  display: block;
  margin: 0 0 0.5rem 0;
}

.code {
  white-space: pre-wrap;
  margin: 0;
}

@media (max-device-width: 800px) {
  .section {
    grid-template-columns: 1fr;
  }
}
