.mainContainer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  text-align: left;
  /* disable scrollbar jumping */
}

.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.globalMessage {
  background-color: lemonchiffon;
  color: black;
  border: 1px solid #ffe58f;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
