.list {
  padding: 0;
}
.listItem {
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 0.75rem;
}
.listItem:before {
  content: "";
  float: left;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  width: 15px;
  margin-left: -15px;
}

.footer {
  display: flex;
  flex-direction: column;
}
