.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% / 3, max(12rem, 100% / 6)), 1fr)
  );
  gap: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% / 3, max(18rem, 100% / 6)), 1fr)
  );
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--box-content-bg-color);
  padding: 0.5rem;
  text-align: center;
}
