.wrapper {
  --textarea-height: 32rem;
}

.wrapper :global .MarkdownComposer {
  flex: 1;
}

.preview {
  flex-grow: 1;
}

.previewHeader {
  padding: 0.5rem;
  background: var(--label-bg-color);
  border-bottom: 2px solid var(--input-border-color);
}

.previewBody {
  height: var(--textarea-height);
  box-sizing: border-box;
  background: var(--box-content-bg-color);
}
.markdownWrapper {
  padding: 0.5rem;
  background: var(--box-content-bg-color);
}

.wrapper.plain {
  :global .TextArea--input {
    min-height: 12rem;
    min-width: 24rem;
  }
}

.wrapper.tabbed {
  --min-tab-height: var(--textarea-height);

  .tab {
    overflow-y: auto;
    width: 100%;

    :global .MarkdownComposer {
      min-height: var(--min-tab-height);
      border: 0;
    }
  }
}

.wrapper.sideBySide {
  display: flex;
  height: var(--textarea-height);

  :global .MarkdownComposer {
    border-right: 0;
  }

  .preview {
    border: 2px solid var(--input-border-color);
    border-left: 0;
    display: flex;
    flex-direction: column;
  }

  .previewBody {
    flex: 1 1 auto;
    border-left: 2px solid var(--input-border-color);
    overflow: auto;
  }
}
