/backend/django_static/
/backend/uploads/
/backend/cache/
/backend/celerybeat-schedule
/frontend/node_modules/
/.env
.pytest_cache
.mypy_cache
.coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose.override.yml
