.navWrapper {
  display: flex;
  align-items: flex-end;
}

.nav {
  --my-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0 var(--my-gap) 0 0;

  .navItem {
    margin: 0;
    padding: 0;

    .navItemLink {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.contentItem {
  width: 100%;
  &:not(.active) {
    display: none;
  }
}

.boxed {
  & > .wrapper {
    & > .navWrapper > .nav {
      gap: var(--my-gap);

      & > .navItem > .navItemLink {
        padding: 0.5rem 1rem;
        background: var(--tab-switch-tabbed-inactive-bg-color);
        color: var(--tab-switch-tabbed-inactive-fg-color);
      }

      & > .navItem.active > .navItemLink {
        background: var(--tab-switch-tabbed-active-bg-color);
        color: var(--tab-switch-tabbed-active-fg-color);
      }
    }

    & > .content {
      padding: 0.5rem;
      background: var(--tab-switch-tabbed-active-bg-color);
    }
  }
}

.light {
  & > .wrapper {
    & > .navWrapper {
      /* filler */
      &:after {
        border-bottom: var(--tab-switch-light-inactive-border-color) 2px solid;
        content: "";
        flex: 1;
      }
    }

    & > .navWrapper > .nav {
      gap: var(--my-gap);

      & > .navItem {
        --my-fg-color: var(--v2-fg-color-2);
        --my-border-color: var(--v2-bg-color-3);
        margin-bottom: 0;
        border-bottom: 2px solid var(--my-border-color);
        background: var(--my-bg-color);
        transition: border-color var(--transition-speed),
          background-color var(--transition-speed);

        &:hover {
          --my-fg-color: var(--v2-fg-color-1);
          --my-bg-color: var(--v2-bg-color-5);
        }
        &.active {
          --my-fg-color: var(--v2-fg-color-1);
          --my-border-color: var(--v2-accent-color-1);
          --my-bg-color: var(--v2-bg-color-4);
          &:hover {
            --my-bg-color: var(--v2-bg-color-2);
          }
        }

        & > .navItemLink {
          transition: color var(--transition-speed);
          padding: 0.35rem 2rem;
          color: var(--my-fg-color);
        }

        &:not(:last-of-type) {
          border-collapse: collapse;
        }
      }
    }

    & > .content {
      margin-top: 1rem;
    }
  }
}
