.WalkthroughPage {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 25% auto;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}
@media (max-device-width: 1280px) {
  .WalkthroughPage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
}

.WalkthroughPage--header {
  grid-area: header;
}
.WalkthroughPage--sidebar {
  grid-area: sidebar;
}
.WalkthroughPage--main {
  width: 100%;
  grid-area: main;
}

.WalkthroughPage .SidebarBox div:empty {
  display: none;
}

.WalkthroughPage .Markdown--Embed--YouTube {
  width: 100%;
  aspect-ratio: 4/3;
  height: auto;
  max-height: 75vh;
}

.WalkthroughPage[data-walkthrough-type="l"] {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "sidebar"
    "main";
}
.WalkthroughPage[data-walkthrough-type="l"] .SidebarBox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.WalkthroughPage[data-walkthrough-type="l"] .SidebarBox--actions {
  flex-direction: row;
}
