.Checkbox--label {
  cursor: pointer;
}

.Checkbox--input {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  border: 0;
  margin: 0 0.5rem 0 0;
  display: inline-flex;
}
.Checkbox--input:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
  box-sizing: border-box;
}
.Checkbox--input:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-color: var(--button-bg-color);
  background-color: var(--button-bg-color);
}
.Checkbox--input:checked:after {
  content: "";
  display: block;
  width: 30%;
  height: 60%;
  border: solid var(--button-fg-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  left: 30%;
}
