.FeaturedLevelsView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

@media (max-device-width: 800px) {
  .FeaturedLevelsView {
    grid-template-columns: 1fr;
  }
}

.FeaturedLevelView {
  background: var(--levels-table-bg-color);
  padding: 0.5rem;
}

.FeaturedLevelView--heading {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.FeaturedLevelView--levelLink {
  padding: 0;
  margin: 0;
}

.FeaturedLevelView--authorLink {
  margin: 0;
}

.FeaturedLevelView--detailsWrapper {
  position: relative;
  padding-bottom: calc(var(--line-height) * 2 + 0.5rem);
}

.FeaturedLevelView--details {
  padding-top: 0.5rem;
  background: var(--levels-table-bg-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.FeaturedLevelView--synopsis {
  transition: max-height 300ms;
  max-height: 0;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.FeaturedLevelView:hover .FeaturedLevelView--synopsis {
  max-height: 10rem;
}

.FeaturedLevelView > a {
  aspect-ratio: 4/3;
  display: block;
  position: relative;
}
.FeaturedLevelView--coverImage {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
