.FormGrid.grid {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5rem 0;
}

.FormGrid.grid .FormGridButtons {
  display: contents;
}
.FormGrid.grid .FormGridButtons--status {
  grid-column: 1 / span 2;
}
.FormGrid.grid .FormGridButtons--status,
.FormGrid.grid .FormGridButtons--buttons {
  grid-column: 2;
}

.FormGrid.column .FormGridButtons {
  margin-top: 1rem;
}

.FormGrid.grid .FormGridFieldSet {
  display: contents;
}
.FormGrid.grid .FormGridFieldSet--title {
  grid-column: 1 / span 2;
}
.FormGridFieldSet--title {
  margin: 1rem 0 0 0;
}
.FormGrid.grid .FormGridFieldSet--fields {
  display: contents;
}
.FormGrid.grid .FormGridFieldSet--fields .FormField {
  display: contents;
}
.FormGridFieldSet--fields .FormField--label {
  background: var(--label-background-color);
  border: 2px solid transparent;
  display: inline-block;
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  line-height: 1.5rem;
  height: 1.5rem;
  box-sizing: padding-box;
  text-align: right;
}
.FormGrid.column .FormGridFieldSet--fields .FormField--label {
  margin: 1rem 0 0 0;
  padding-left: calc(var(--label-backgrounds) * 0.5rem);
}
