.InfoMessage {
  display: flex;
  margin: 0 0 1rem 0;
}
.InfoMessage--aside {
  background: var(--button-bg-color);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.InfoMessage--text {
  display: flex;
  align-items: center;
  background: var(--label-bg-color);
  padding: 0.5rem 1rem;
}
