.InfoMessage {
  display: flex;
  margin: 0 0 2rem 0;
}
.InfoMessage--aside {
  background: var(--message-accent-bg-color);
  color: var(--message-accent-fg-color);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.InfoMessage--text {
  display: flex;
  align-items: center;
  background: var(--message-bg-color);
  padding: 0.5rem 1rem;
}
