.LevelSidebar--cover .MediumThumbnails {
  grid-template-columns: 1fr;
}

.LevelSidebar .MediumThumbnail--thumb {
  width: 100%;
}

.LevelSidebar--basicInfoList {
  display: inline;
  margin: 0;
  padding: 0;
}
.LevelSidebar--basicInfoListItem {
  display: inline;
  padding: 0;
  margin: 0;
}
.LevelSidebar--basicInfoListItem:not(:last-child):after {
  content: ", ";
}

.LevelSidebar--fileTableTerm:after {
  content: unset;
}
