.LevelSearch--sidebarHeader {
  display: flex;
  justify-content: space-between;
}
.LevelSearch--sidebarHeader .PushButton {
  font-size: 1rem;
  font-weight: normal;
}

.LevelSearch--sidebarSection {
  margin-bottom: 0.5rem;
}

.LevelSearch--sidebarSection .TextFormField--input {
  width: 100%;
}

.LevelSearch--searchBar {
  display: flex;
  align-items: flex-end;
}
.LevelSearch--searchBar .TextFormField--input {
  min-width: 0;
}
