#LevelList--container {
  display: grid;
  grid-template-areas:
    "search search"
    "results sidebar"
    "pager sidebar";
  grid-template-columns: 4fr 1fr;
  gap: 0 1rem;
}
#LevelList--sidebar {
  grid-area: sidebar;
}
#LevelList--results {
  width: 100%;
  grid-area: results;
}
#LevelList--search {
  grid-area: search;
}
#LevelList--pager {
  grid-area: pager;
}
