.Markdown--Embed--YouTube {
  width: 640px;
  height: 480px;
  border: 0;
}

.Markdown {
  word-break: break-word;
}

.Markdown img {
  max-width: 100%;
}

.Markdown table {
  border-collapse: collapse;
}

.Markdown table td,
.Markdown table th {
  padding: 0.25rem 1rem;
}

.Markdown table td:first-child,
.Markdown table th:first-child {
  padding-left: 0;
}

.Markdown table thead th {
  border-bottom: 1px solid var(--fg-color);
}

.Markdown--color.pickup {
  color: forestgreen;
}
.Markdown--color.trap {
  color: deeppink;
}
.Markdown--color.enemy {
  color: red;
}
.Markdown--color.secret {
  color: darkgoldenrod;
}
.Markdown--color.object {
  color: royalblue;
}
[data-theme="midnight_ocean"] .Markdown--color.secret {
  color: goldenrod;
}
