.MediumThumbnails {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}
.MediumThumbnails .MediumThumbnail {
  max-width: 100%;
  height: auto;
  font-size: 4rem;
  aspect-ratio: calc(4 / 3);
}
