#TopNavBar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#TopNavBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#TopNavBar li {
  display: inline;
  margin: 0;
  padding: 0;
}
#TopNavBar h1,
#TopNavBar p {
  margin: 0;
  padding: 0;
}

#PrimaryNavBar {
  padding: 1rem;
  background: var(--sidebar-color);
}
#PrimaryNavBar .PrimaryNavBar--left {
  display: flex;
  justify-content: flex-start;
}
#PrimaryNavBar .PrimaryNavBar--right {
  display: flex;
  justify-content: flex-end;
}
#PrimaryNavBar li {
  margin-left: 1rem;
}

#SecondaryNavBar {
  padding: 0.5rem;
  background: var(--sidebar-color-alt);
}
