.TopNavBar--primary--userPic {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.TopNavBar--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.TopNavBar--listItem {
  display: inline;
  margin: 0;
  padding: 0;
}
.TopNavBar h1,
.TopNavBar p {
  margin: 0;
  padding: 0;
}
.TopNavBar h1 {
  font-size: 2rem;
}
.TopNavBar h1 a {
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.TopNavBar--primary {
  background: var(--navbar-primary-background-color);
  margin: var(--navbar-primary-margin);
}
.TopNavBar--primary .NavBar {
  height: 3rem;
}
.TopNavBar--primary .MainContainer {
  background: var(--navbar-primary-background-color-inside);
}
.TopNavBar--primary .TopNavBar--listItem {
  margin-left: 1rem;
}

.TopNavBar--secondary {
  background: var(--navbar-secondary-background-color);
  margin: var(--navbar-secondary-margin);
}
.TopNavBar--secondary .MainContainer {
  background: var(--navbar-secondary-background-color-inside);
}
.TopNavBar--secondary .TopNavBar--listItem a {
  padding: 0.3rem 1rem;
  display: inline-block;
}
.TopNavBar--secondary .TopNavBar--listItem a.active {
  background: var(--navbar-secondary-active-tab-background-color);
  color: var(--navbar-secondary-active-tab-text-color);
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBar--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.NavBar--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
