.NestedLegalese--wrapper {
  display: flex;
  gap: 1rem;
}

.NestedLegalese--toc {
  white-space: nowrap;
}

.LegaleseItem {
  display: flex;
  gap: 0.5rem;
}
.LegaleseItem p {
  margin: 0;
}
.LegaleseItem--body {
  flex: 1;
}
.LegaleseItem--body > *:first-child {
  margin-top: 0;
}
.LegaleseItem--body > *:last-child {
  margin-bottom: 0;
}

.LegaleseItem--listItem {
  margin: 0.5rem 0;
}
.LegaleseItem--list {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}
.LegaleseItem[data-nesting="1"] {
  margin-bottom: 2rem;
}
