.Pills {
  margin: 0.25rem 0 0 0;
}
.Pills--list {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.Pills--listItem {
  background: var(--button-background-color);
  color: var(--button-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.Pills--listItem .PushButton {
  text-decoration: none;
}
