.PushButton--button {
  text-align: center;
  display: inline-block;
  background: var(--button-background-color);
  border: 2px solid var(--input-border-color);
  color: var(--button-text-color);
  font-size: var(--font-size);
  line-height: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.PushButton--button:hover {
  background: var(--button-hovered-background-color);
  color: var(--button-hovered-text-color);
}
.PushButton--button:focus {
  outline: 0;
  border-color: var(--outline-color);
}

.PushButton--icon {
  margin-right: 0.25rem;
}
.PushButton--label {
  text-decoration: var(--button-text-decoration);
}

.PushButton + .PushButton {
  margin-left: 1rem;
}

.PushButton--disabled {
  opacity: 0.5;
  cursor: default;
}
