.Review {
  display: grid;
  margin-bottom: 3rem;
  grid-template-rows: auto auto auto;
  background: var(--reviews-table-background-color);
}
.Review.positive .Review--badge {
  background-color: var(--positive-background-color);
}
.Review.neutral .Review--badge {
  background-color: var(--neutral-background-color);
}
.Review.negative .Review--badge {
  background-color: var(--negative-background-color);
}

.Review--content {
  padding: 1rem;
  border-bottom: 2px solid;
}
.Review.positive .Review--content {
  border-bottom-color: var(--positive-background-color);
}
.Review.neutral .Review--content {
  border-bottom-color: var(--neutral-background-color);
}
.Review.negative .Review--content {
  border-bottom-color: var(--negative-background-color);
}

.Review--badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.Review--badge .icon {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.Review--footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  gap: 2rem;
}

.Review--userLink {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 0;
}

.Review--userPic {
  display: block;
  width: 2rem;
  max-height: 100%;
}

.Review--userInfo {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  gap: 2rem;
  white-space: nowrap;
  text-align: left;
}
.Review--userInfoTerm {
  display: flex;
  gap: 0.5rem;
}
.Review--userInfo dd {
  margin: 0;
}
.Review--userInfo dt:after {
  content: ":";
}
.Review--userInfoDefinition {
  margin-right: 2rem;
}

.Review--content p:last-of-type {
  margin-bottom: 0;
}
.Review--content p:first-of-type {
  margin-top: 0;
}
