.Review {
  display: grid;
  margin-bottom: 3rem;
  grid-template-rows: auto auto auto;
  background: var(--reviews-bg-color);
}
.Review.positive .Review--badge {
  background-color: var(--reviews-positive-bg-color);
}
.Review.neutral .Review--badge {
  background-color: var(--reviews-neutral-bg-color);
}
.Review.negative .Review--badge {
  background-color: var(--reviews-negative-bg-color);
}

.Review--content {
  padding: 1rem;
  border-bottom: 2px solid;
}
.Review.positive .Review--content {
  border-bottom-color: var(--reviews-positive-bg-color);
}
.Review.neutral .Review--content {
  border-bottom-color: var(--reviews-neutral-bg-color);
}
.Review.negative .Review--content {
  border-bottom-color: var(--reviews-negative-bg-color);
}

.Review--badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.Review--badge .Icon {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.Review--footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}

.Review--buttons {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.Review--userLink {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 0;
}

.Review--userPic {
  display: block;
  width: 2rem;
  max-height: 100%;
}

.Review--footerInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem 2rem;
  flex-grow: 1;
}
@media (max-device-width: 500px) {
  .Review--footerInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}
