.SidebarBox {
  padding: calc(var(--sidebar-padding) * 1rem);
  background: var(--sidebar-bg-color);
}
.SidebarBox--header {
  margin-bottom: 1rem;
}
.SidebarBox--actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.SidebarBox--actions > .PushButton {
  flex-grow: 1;
  margin: 0;
}
.SidebarBox--actions:empty + *,
.SidebarBox > :first-child {
  margin-top: 0;
}
.SidebarBox > :last-child {
  margin-bottom: 0;
}
