:root {
  --input-border-color: var(--button-bg-color);
  --input-invalid-border-color: red;
  --tab-switch-active-bg-color: var(--navbar-active-tab-bg-color);
  --tab-switch-inactive-bg-color: var(--label-bg-color);
  --tab-switch-active-fg-color: var(--navbar-active-tab-fg-color);
  --tab-switch-inactive-fg-color: var(--fg-color);
}

[data-theme="midnight_ocean"] {
  --primary-color: #20232e;
  --secondary-color: #2196f3;
  --bg-color: var(--primary-color);
  --fg-color: #ededed;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --positive-bg-color: #213913;
  --neutral-bg-color: #3c3c17;
  --negative-bg-color: #4d1f1f;
  --input-bg-color: #a8c7e0;
  --input-fg-color: black;
  --button-bg-color: #1e67a1;
  --button-fg-color: white;
  --button-hovered-bg-color: #2f7ab6;
  --button-hovered-fg-color: var(--button-fg-color);
  --button-text-decoration: none;
  --label-backgrounds: 1;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #171720;
  --navbar-active-tab-bg-color: #1c3160;
  --navbar-active-tab-fg-color: #d0e6ed;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --levels-table-bg-color: var(--navbar-bg-color);
  --levels-table-padding: 1;
  --reviews-table-bg-color: var(--sidebar-bg-color);
  --table-details-bg-color: var(--sidebar-bg-color);
  --section-bg-color: transparent;
  --section-padding: 0;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: #1c3160;
  --link-highlight-fg-color: #d0e6ed;
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --blockquote-bg-color: var(--bg-color);
  --blockquote-accent-color: var(--link-color);
}

[data-theme="robotic"] {
  --primary-color: white;
  --secondary-color: red;
  --bg-color: var(--primary-color);
  --fg-color: black;
  --failure-fg-color: firebrick;
  --warning-fg-color: darkorange;
  --success-fg-color: green;
  --positive-bg-color: #c5f0ac;
  --neutral-bg-color: #efefd7;
  --negative-bg-color: #fed0d0;
  --input-bg-color: var(--bg-color);
  --input-fg-color: var(--fg-color);
  --button-bg-color: grey;
  --button-fg-color: white;
  --button-hovered-bg-color: silver;
  --button-hovered-fg-color: var(--fg-color);
  --button-text-decoration: none;
  --label-backgrounds: 1;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #eaeaea;
  --navbar-active-tab-bg-color: #ddd;
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --levels-table-bg-color: var(--bg-color);
  --levels-table-padding: 0;
  --reviews-table-bg-color: var(--sidebar-bg-color);
  --table-details-bg-color: var(--sidebar-bg-color);
  --section-bg-color: transparent;
  --section-padding: 0;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: var(--navbar-bg-color);
  --link-highlight-fg-color: var(--fg-color);
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --stats-positive-bar-color: var(--link-color);
  --stats-neutral-bar-color: var(--link-color);
  --stats-negative-bar-color: var(--link-color);
  --blockquote-bg-color: var(--navbar-bg-color);
  --blockquote-accent-color: var(--button-bg-color);
}

[data-theme="lettuce"] {
  --primary-color: yellowgreen;
  --secondary-color: lemonchiffon;
  --bg-color: var(--secondary-color);
  --fg-color: black;
  --failure-fg-color: #f32d0a;
  --warning-fg-color: #9e921e;
  --success-fg-color: #1e921e;
  --positive-bg-color: #78cf2f;
  --neutral-bg-color: #b1a338;
  --negative-bg-color: #f38561;
  --input-bg-color: floralwhite;
  --input-fg-color: var(--fg-color);
  --button-bg-color: var(--primary-color);
  --button-fg-color: var(--fg-color);
  --button-hovered-bg-color: var(--label-bg-color);
  --button-hovered-fg-color: var(--fg-color);
  --button-text-decoration: underline;
  --label-backgrounds: 1;
  --label-bg-color: #c8ec85;
  --navbar-bg-color: var(--primary-color);
  --navbar-active-tab-bg-color: var(--label-bg-color);
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --levels-table-bg-color: var(--section-bg-color);
  --levels-table-padding: 1;
  --reviews-table-bg-color: var(--bg-color);
  --table-details-bg-color: var(--section-bg-color);
  --section-bg-color: var(--label-bg-color);
  --section-padding: 1;
  --link-color: #1b5e60;
  --link-highlight-bg-color: var(--button-hovered-bg-color);
  --link-highlight-fg-color: var(--fg-color);
  --link-text-decoration: underline;
  --outline-color: var(--fg-color);
  --stats-positive-bar-color: var(--positive-bg-color);
  --stats-neutral-bar-color: var(--neutral-bg-color);
  --stats-negative-bar-color: var(--negative-bg-color);
  --tab-switch-active-bg-color: var(--button-bg-color);
  --blockquote-bg-color: var(--section-bg-color);
  --blockquote-accent-color: var(--button-bg-color);
}
