.ThemeSwitcher--list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 0.75rem;
  text-align: center;
}

@media (max-device-width: 1280px) {
  .ThemeSwitcher--list {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-device-width: 800px) {
  .ThemeSwitcher--list {
    grid-template-columns: repeat(2, auto);
  }
}

.ThemeSwitcher--label {
  cursor: pointer;
  color: var(--link-color);
}

.ThemeSwitcher--labelWrapper {
  border: 2px solid var(--link-color);
  margin-bottom: 0.5rem;
}

.ThemePreview {
  background: var(--bg-color);
  padding: 0.5rem;
  box-sizing: border-box;
  min-width: 15rem;
  aspect-ratio: 3/2;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "logo logo" "nav nav" "sidebar main";
  grid-template-columns: 30% auto;
  grid-template-rows: min-content min-content auto;
}
.ThemePreview--logo {
  grid-area: logo;
  background: var(--link-color);
  width: 4rem;
  height: 1rem;
}
.ThemePreview--nav {
  grid-area: nav;
  background: var(--navbar-bg-color);
  height: 1rem;
}
.ThemePreview--sidebar {
  grid-area: sidebar;
  background: var(--sidebar-bg-color);
  padding: calc(var(--sidebar-padding) * 0.5rem);
}
.ThemePreview--main {
  grid-area: main;
}
.ThemePreview--text {
  background: var(--fg-color);
  height: 0.2rem;
  margin: 0 0 0.3rem 0;
}
.ThemePreview--text.text-50 {
  width: 50%;
}
