.UserFancyList > .DataList--body {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.UserView {
  background: var(--levels-table-bg-color);
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
