.UsersTable--username {
  width: 24%;
}
.UsersTable--firstName,
.UsersTable--lastName {
  width: 18%;
}
.UsersTable--created,
.UsersTable--lastLogin,
.UsersTable--updated,
.UsersTable--authoredLevelCount {
  width: 10%;
  white-space: nowrap;
}
