.wrapper {
  display: grid;
  gap: var(--layout-gap, 1rem 1rem);
}
.wrapper.regular {
  grid-template-columns: var(--layout-split, 300px 1fr);
}
.wrapper.reverse {
  grid-template-columns: var(--layout-split, 1fr 300px);
  grid-auto-flow: dense;
}
.wrapper.stacked {
  grid-template-columns: 1fr;
}

.sidebar:empty {
  display: none;
}

.wrapper.regular .header,
.wrapper.reverse .header {
  grid-column: span 2;
}
.wrapper.reverse .sidebar {
  order: 2;
}
.wrapper.reverse .content {
  order: 1;
}

@media (max-width: 640px) {
  .wrapper {
    --layout-split: 1fr;
  }
  .header {
    grid-column: 1 !important;
  }
}
