.wrapper {
  display: grid;
  gap: 1rem 1.5rem;
}
.wrapper.regular {
  grid-template-columns: minmax(300px, 25%) 1fr;
}
.wrapper.reverse {
  grid-template-columns: 1fr minmax(300px, 25%);
  grid-auto-flow: dense;
}
.wrapper.stacked {
  grid-template-columns: 25%) 1fr;
}

.wrapper.regular .header {
  grid-column: span 2;
}
.wrapper.reverse .sidebar {
  grid-column: 2;
}
.wrapper.reverse .content {
  grid-column: 1;
}

@media (max-device-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr !important;
  }
  .header {
    grid-column: 1 !important;
  }
}
