.pills {
  margin: 0.25rem 0 0 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.listItem {
  background: var(--button-bg-color);
  color: var(--button-fg-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.removeLink {
  text-decoration: none;
  color: var(--button-fg-color);
}
