.addButton {
  margin-left: 0.5rem;
}

.suggestions {
  position: absolute;
  max-height: 20rem;
  min-width: 15rem;
  overflow-y: auto;
  border: 2px solid var(--outline-color);
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  box-sizing: border-box;
  margin-top: -2px;
}

.suggestionsEmpty {
  padding: 0 0.5rem;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  padding: 0 0.5rem;
}

.listItem.active,
.listItem:hover {
  background: var(--button-bg-color);
  color: var(--button-fg-color);
  cursor: pointer;
}

.listItem:not(:last-of-type) {
  border-bottom: 1px solid var(--input-border-color);
}
