.artifactName {
  margin: 0 0 0.5rem 0;
  font-size: 1em;
}

.tierName {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0 0 0.5rem 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.standardItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.artifactLink {
  cursor: pointer;
  height: 100%;
}
