.strip {
  background: var(--label-bg-color);
  border-bottom: 2px solid var(--input-border-color);
  padding: 0.5rem;
  display: flex;
  gap: 2rem;
}

.group {
  display: flex;
  gap: 0.75rem;
}

.group:last-of-type {
  margin-left: auto;
}
