.MarkdownComposer {
  border: 2px solid var(--input-border-color);
  display: flex;
  flex-direction: column;
}
.MarkdownComposer .Input {
  padding: 0.5rem;
  line-height: calc(var(--font-size) * 1.3);
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  vertical-align: top;
  border: 0;
  resize: none;
}
