.thumbnails {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}
.thumbnails .mediumThumbnail {
  max-width: 100%;
  height: auto;
  font-size: 4rem;
}

.mediumThumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  position: relative;
  overflow: hidden;

  :global img {
    display: block;
  }

  .mediumThumbnailThumb {
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all var(--transition-speed);

    &:hover {
      filter: opacity(0.95) contrast(95%) brightness(110%);
    }
  }

  &.contain .mediumThumbnailThumb {
    object-fit: contain;
  }
  &.cover .mediumThumbnailThumb {
    object-fit: cover;
    aspect-ratio: 4 / 3;
  }

  .backgroundBlur {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    object-fit: cover;
    z-index: 1;
    filter: blur(5px);
  }

  .mediumThumbnailOverlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    z-index: 3;
  }

  &:hover .mediumThumbnailOverlay {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5))
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
  }
}

.modal {
  align-items: stretch !important;
  cursor: pointer;
  font-size: 5rem;
}

.modal :global img {
  flex-grow: 0;
  object-fit: contain;
  max-width: calc(100vw - 4rem * 2 - 2rem * 2);
  max-height: calc(100vh - 2rem * 2);
}

.navButton {
  display: flex;
  align-items: center;
  color: silver;
}
.navButton:hover {
  color: white;
}

.disabled {
  opacity: 0.1;
}
.hidden {
  opacity: 0;
}

@media (max-width: 800px) {
  .modal :global img {
    max-width: 100vw;
    max-height: 100vh;
  }
  .navButton {
    position: absolute;
    top: 0;
    bottom: 0;
    color: black;
  }
  .navButton:hover {
    color: black;
  }
  .navButton:first-child {
    left: 0;
  }
  .navButton:last-child {
    right: 0;
  }
}
