.wrapper {
  display: flex;
  gap: 0.5rem;
}
.wrapper :global p {
  margin: 0;
}
.body {
  flex: 1;
}
.body > *:first-child {
  margin-top: 0;
}
.body > *:last-child {
  margin-bottom: 0;
}

.listItem {
  margin: 0.5rem 0;
}
.list {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}
.wrapper[data-nesting="1"] {
  margin-bottom: 2rem;
}

.number:empty {
  display: none;
}
