.modal {
  background: var(--bg-color);
  color: var(--fg-color);
}

.modalHeader {
  padding: 0.75rem 1rem;
  background: var(--button-bg-color);
  color: var(--button-fg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBody {
  padding: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  border-top: 2px solid var(--input-border-color);
  padding: 1rem;
}

.buttons:empty {
  display: none;
}

.closeButton {
  color: var(--button-fg-color);
}
