.NavBar--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.NavBar--listItem {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media (max-device-width: 1280px) {
  .NavBar--secondary .NavBar--grow {
    flex-grow: 0;
  }
  .NavBar--secondary .NavBar--list {
    justify-content: center;
  }
}

.NavBar--nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.NavBar--grow {
  flex-grow: 1;
}

.NavBar h1,
.NavBar p {
  margin: 0;
  padding: 0;
}
.NavBar h1 {
  font-family: "Chakra Petch";
  font-weight: normal;
  font-size: calc(min(2.8rem, 10vmin));
  margin: 0;
  padding: 0;
}
.NavBar h1 a {
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.NavBar--primary {
  margin: 0.5rem 0 0.25rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.NavBar--primary .NavBar--list {
  margin: 0 1rem;
  gap: 0.5rem 1rem;
  justify-content: flex-end;
}

.NavBar--secondary {
  background: var(--navbar-bg-color);
}
.NavBar--secondary .NavBar--listItem a {
  padding: 0.3rem 1rem;
  display: inline-block;
}
.NavBar--secondary .NavBar--listItem a.active {
  background: var(--navbar-active-tab-bg-color);
  color: var(--navbar-active-tab-fg-color);
}

.NavBar .Logo {
  height: 4rem;
  margin: 0 0.8rem 0 0.7rem;
}

.NavBar--userPicLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.NavBar--userPic {
  width: 2rem;
}
