.UserFancyList > .DataList--body {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%/3, max(12rem, 100%/6)), 1fr)
  );
}

.UserView {
  background: var(--box-bg-color);
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
