.table :global td {
  border-bottom: 1px solid var(--label-bg-color);
}

.table .created,
.table .author {
  white-space: nowrap;
  width: 10%;
}
.table .object {
  width: 40%;
}
.table .changes {
  width: 40%;
}

.changesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 0.5rem;
}
.requiresAction {
  white-space: nowrap;
}
