.HomePage {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "sidebar featured"
    "sidebar main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content 1fr;
}

@media (max-device-width: 800px) {
  .HomePage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "featured"
      "main";
  }
}

.HomePage--featuredLevels {
  grid-area: featured;
}
.HomePage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
.HomePage--main {
  grid-area: main;
}

.LevelStats--engines > .DefinitionItem:first-of-type > * {
  margin-top: 0 !important;
}
.LevelStats--engines .DefinitionItem--term:before {
  content: "\25cf";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.HomePageExtraButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
