#LevelListPage--container {
  display: grid;
  grid-template-areas:
    "search search"
    "results sidebar ";
  grid-template-columns: 6fr min-content;
  grid-template-rows: min-content 1fr;
  gap: 0 2rem;
}
#LevelListPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
#LevelListPage--results {
  width: 100%;
  grid-area: results;
}
#LevelListPage--search {
  grid-area: search;
}
