#LevelListPage--container {
  display: grid;
  grid-template-areas: "sidebar results";
  grid-template-columns: min-content 6fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem 1rem;
}
#LevelListPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
#LevelListPage--sidebar p {
  margin: 0.5rem 0 0.25rem 0;
}
#LevelListPage--sidebar .TextInput--input {
  min-width: unset;
  max-width: 10rem;
  margin: 0 0 0.5rem 0;
}
#LevelListPage--results {
  width: 100%;
  grid-area: results;
}

.LevelListPage--sidebarSection {
  margin-bottom: 0.5rem;
}

.LevelListPage--sidebarSection .TextFormField--input {
  width: 100%;
}

.LevelListPage--searchBar {
  display: flex;
  align-items: flex-end;
}
.LevelListPage--searchBar .TextFormField--input {
  min-width: 0;
}
.LevelListPage--searchBar button {
  display: flex;
}
.LevelListPage--searchBar .Icon {
  width: 1.5rem;
  height: 1.5rem;
}
