#LevelPage {
  display: grid;
  grid-template-areas:
    "header header"
    "banner main"
    "sidebar main";
  grid-template-columns: min-content 6fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}

#LevelPage--header {
  grid-area: header;
}
#LevelPage--banner {
  grid-area: banner;
}
#LevelPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
#LevelPage--main {
  grid-area: main;
}

#LevelPage .MediumThumbnail--thumb {
  width: 100%;
}

#LevelPage h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 3rem;
}
#LevelPage h2 {
  margin: 2rem 0 0.75rem 0;
  border-bottom: 2px solid var(--button-background-color);
}
#LevelPage h2 + p {
  margin-top: 0.75rem;
}

#LevelPage--basicInfo {
  margin-bottom: 2rem;
}
#LevelPage--fileTable {
  width: 100%;
}
#LevelPage--fileTable td {
  width: 50%;
}
