#LevelPage {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 25% auto;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}

#LevelPage--header {
  grid-area: header;
}
#LevelPage--sidebar {
  grid-area: sidebar;
}
#LevelPage--main {
  grid-area: main;
}

/* fix for empty media */
#LevelPage--main > :first-child > :first-child {
  margin-top: 0;
}

#LevelPage .MediumThumbnail--thumb {
  width: 100%;
}

.LevelPage--fileTableTerm:after {
  content: unset;
}

.LevelPage--basicInfoList {
  display: inline;
  margin: 0;
  padding: 0;
}
.LevelPage--basicInfoListItem {
  display: inline;
  padding: 0;
  margin: 0;
}
.LevelPage--basicInfoListItem:not(:last-child):after {
  content: ", ";
}

.LevelPage--headerWrapper {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}
.LevelPage--headerPart {
  white-space: pre;
}
