.ModerationPage {
  display: grid;
  grid-template-areas: "sidebar results";
  grid-template-columns: min-content 6fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  align-items: flex-start;
}

@media (max-device-width: 1280px) {
  .ModerationPage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "results";
  }
}

.ModerationPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}

.ModerationPage--results {
  width: 100%;
  grid-area: results;
}
