#ProfilePage {
  display: grid;
  grid-template-areas:
    "picture header"
    "picture main"
    "sidebar main";
  grid-template-columns: min-content 6fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}

#ProfilePage--header {
  grid-area: header;
}
#ProfilePage--picture {
  grid-area: picture;
}
#ProfilePage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
#ProfilePage--main {
  width: 100%;
  grid-area: main;
}

#ProfilePage--picture img {
  max-width: 100%;
  display: block;
}

#ProfilePage--header h1 {
  margin-top: 0;
}
#ProfilePage--header h2 {
  margin-bottom: 0;
}

#ProfilePage--basicInfo > p:first-child {
  margin-top: 0;
}
