.UserPage {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 25% auto;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}

.UserPage--header {
  grid-area: header;
}
.UserPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
.UserPage--main {
  width: 100%;
  grid-area: main;
}

.UserPage--picture img {
  width: 100%;
  display: block;
}

.UserPage--header :first-child,
.UserPage--basicInfo :first-child {
  margin-top: 0;
}
.UserPage--header :last-child {
  margin-bottom: 0;
}

.UserPage--headerWrapper {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
