#UserPage {
  display: grid;
  grid-template-areas:
    "picture header"
    "picture main"
    "sidebar main";
  grid-template-columns: min-content 6fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}

#UserPage--header {
  grid-area: header;
}
#UserPage--picture {
  grid-area: picture;
}
#UserPage--sidebar {
  grid-area: sidebar;
  white-space: nowrap;
}
#UserPage--main {
  width: 100%;
  grid-area: main;
}

#UserPage--picture img {
  max-width: 100%;
  display: block;
}

#UserPage--header h1 {
  margin-top: 0;
}
#UserPage--header h2 {
  margin-bottom: 0;
}

#UserPage--basicInfo > p:first-child {
  margin-top: 0;
}
