.UserBasePage {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 25% auto;
  grid-template-rows: min-content min-content 1fr;
  gap: 1.5rem;
}
@media (max-device-width: 1280px) {
  .UserBasePage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
}

.UserBasePage--header {
  grid-area: header;
}
.UserBasePage--sidebar {
  grid-area: sidebar;
}
.UserBasePage--main {
  width: 100%;
  grid-area: main;
}

.UserBasePage--headerWrapper {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
