.wrapper {
  columns: 2;
  display: inline-block;
  padding: 0.5rem;
  background: var(--label-bg-color);
  border: 2px solid var(--input-border-color);
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon {
  color: var(--input-border-color);
}
