.header {
  display: flex;
  justify-content: space-between;
}

.form :global input[type="text"] {
  width: 100%;
}

.submitStrip {
  margin: 0.75rem 0;
}

.section {
  margin-bottom: 0.5rem;
}

.resetButton {
  font-size: 1rem;
  font-weight: normal;
}
