.wrapper {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: var(--pager-bg-color);
}

.listItem {
  text-align: center;
  margin: 0 0.5rem 0 0;
}

.ellipsis {
  opacity: 0.25;
}

.wrapper span,
.button {
  display: inline-block;
  width: 3.25rem;
  padding: 0.25rem 0;
  box-sizing: border-box;
}

.listItem.active {
  background: var(--pager-active-bg-color);
}
.listItem.active .button {
  color: var(--pager-active-fg-color);
}
