.wrapper {
  display: flex;
  flex-direction: column;
}

.box {
  padding: calc(var(--sidebar-padding) * 1rem);
  background: var(--sidebar-bg-color);
  break-inside: avoid;
  &:not(:last-of-type) {
    margin-bottom: calc(var(--sidebar-padding) * -1rem);
  }
}
.box:empty {
  display: none;
}
