.AuditLogTable .DataTable--row td {
  border-bottom: 1px solid var(--label-bg-color);
}
.AuditLogTable--changeList {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.AuditLogTable--changeListItem {
  display: block;
  margin: 0;
  padding: 0;
}

.AuditLogTable--created,
.AuditLogTable--author {
  white-space: nowrap;
  width: 10%;
}

.AuditLogTable--object {
  width: 40%;
}
.AuditLogTable--changes {
  width: 40%;
}

.AuditLogTable--changesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 0.5rem;
}
.AuditLogTable--requiresAction {
  white-space: nowrap;
}
