.link {
  color: var(--link-color);
  text-decoration: var(--button-text-decoration);
  word-break: break-word;
  transition: color var(--transition-speed);
}
.link:hover {
  color: var(--link-hover-color);
}

.withIcon {
  display: inline-flex;
  gap: 0.5rem;
}

.icon :global .icon,
.icon :global .Icon {
  width: 1.6em;
  height: 1.6em;
  margin: 0;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
