.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
}

.embedWrapper {
  --video-embed-width: 100%;
  --video-embed-height: 100%;
  --video-embed-aspect-ratio: 16 / 9;
}
