.wrapper {
  word-break: break-word;
}

.wrapper :global img {
  max-width: 100%;
}

.wrapper :global table {
  border-collapse: collapse;
}

.wrapper :global table td,
.wrapper :global table th {
  padding: 0.25rem 1rem;
}

.wrapper :global table td:first-child,
.wrapper :global table th:first-child {
  padding-left: 0;
}

.wrapper :global table thead th {
  border-bottom: 1px solid var(--fg-color);
}

.wrapper.colors {
  .color.pickup {
    color: var(--fg-color-pickup);
  }
  .color.trap {
    color: var(--fg-color-trap);
  }
  .color.enemy {
    color: var(--fg-color-enemy);
  }
  .color.secret {
    color: var(--fg-color-secret);
  }
  .color.object {
    color: var(--fg-color-object);
  }
}

.center {
  text-align: center;
}

.spoiler {
  color: transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
  &:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    --my-col-1: var(--fg-color);
    --my-col-2: transparent;
    background-image: linear-gradient(
      135deg,
      var(--my-col-1) 10%,
      var(--my-col-2) 10%,
      var(--my-col-2) 50%,
      var(--my-col-1) 50%,
      var(--my-col-1) 60%,
      var(--my-col-2) 60%,
      var(--my-col-2) 100%
    );
    background-size: 7.07px 7.07px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}
.spoiler.revealed {
  color: var(--fg-color);
  &:after {
    opacity: 0;
  }
}
