/* TODO: remove this */
.FormFieldSuccess {
  color: forestgreen;
}
.FormFieldError {
  color: red;
}

button {
  border: 2px solid transparent;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  background: var(--button-soft-bg-color);
  color: var(--button-fg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-decoration: var(--button-text-decoration);
  padding: 0.25rem 1rem;
  cursor: pointer;
}
button[disabled] {
  opacity: 0.5;
}
button:hover {
  background: var(--button-hovered-bg-color);
  color: var(--button-hovered-fg-color);
}
button:focus {
  outline: 0;
  border-color: var(--outline-color);
}

label {
  display: inline-block;
}

.Input {
  border: 2px solid var(--input-border-color);
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  width: var(--input-width, 15rem);
  height: calc(2rem + 4px);
  box-sizing: border-box;

  &:disabled {
    border-color: var(--input-disabled-border-color);
    background: var(--input-disabled-bg-color);
  }
  &:focus {
    outline: 0;
    border-color: var(--outline-color);
  }
  &.invalid,
  &:invalid {
    border-color: var(--input-invalid-border-color);
  }
}
