html {
  scroll-behavior: smooth;
}
:root {
  --font-family: "Ubuntu", sans-serif;
  --font-size: 12pt;
  --line-height: calc(var(--font-size) * 1.5);
  --transition-speed: 300ms;
}
@media (max-width: 1280px) {
  :root {
    --font-size: 11pt;
  }
}
@media (max-width: 800px) {
  :root {
    --font-size: 10pt;
  }
}
@media (max-width: 600px) {
  :root {
    --font-size: 9pt;
  }
}

:root {
  font-size: var(--font-size);
}
body {
  transition: background var(--transition-speed), color var(--transition-speed);
  background: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
}
body.modal-open {
  overflow: hidden;
}

@media (min-device-width: 1280px) {
  #root {
    text-align: center;
    padding-left: calc(100vw - 100%);
  }
}

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  transition: color var(--transition-speed);
}
a:focus-visible {
  outline: 2px solid var(--outline-color);
  isolation: isolate;
}
a:hover {
  color: var(--link-hover-color);
  outline: 0;
}

svg.Icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.35em;
}
h3 {
  font-size: 1.2em;
}

hr {
  border: 0;
  height: 2px;
  background: var(--v2-accent-color-1);
  margin: 1rem 0;
}

pre {
  white-space: pre-wrap;
  background: var(--blockquote-bg-color);
  padding: 0.5rem;
}

blockquote {
  background: var(--v2-bg-color-5);
  border-left: 0.5rem solid var(--v2-accent-color-1);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 1rem 0;
}
blockquote > *:first-child {
  margin-top: 0;
}
blockquote > *:last-child {
  margin-bottom: 0;
}

.ChildMarginClear > *:first-child {
  margin-top: 0;
}
.ChildMarginClear > *:last-child {
  margin-bottom: 0;
}
