:root {
  --background-color: lemonchiffon;
  --sidebar-color: yellowgreen;
  --sidebar-color-alt: #c8ec85;
  --text-color: #000;
  --link-color: blue;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-family);
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  text-align: center;
}

.MainContainer {
  max-width: 60rem;
  margin: 0 auto;
  text-align: left;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

/* forms */
.FormField {
  display: block;
  margin-bottom: 0.5rem;
}
.FormField label {
  display: block;
}
.FormFieldSuccess {
  color: forestgreen;
}
.FormFieldError {
  color: red;
}

input,
button,
textarea {
  border: 2px solid var(--sidebar-color);
  line-height: 1rem;
  padding: 0.5rem;
}
textarea {
  font-family: var(--font-family);
}
button {
  background: var(--sidebar-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#Content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

fieldset {
  border: 2px solid var(--sidebar-color);
  margin: 2rem 0;
}
legend {
  background: var(--sidebar-color);
  padding: 0.5rem 1rem;
}

label {
  display: inline-block;
}
