[data-theme] {
  --input-border-color: var(--button-bg-color);
  --input-invalid-border-color: red;
  --input-disabled-border-color: grey;
  --button-hovered-fg-color: var(--button-fg-color);
  --tab-switch-active-bg-color: var(--navbar-active-tab-bg-color);
  --tab-switch-inactive-bg-color: var(--label-bg-color);
  --tab-switch-active-fg-color: var(--navbar-active-tab-fg-color);
  --tab-switch-inactive-fg-color: var(--fg-color);
  --box-bg-color: var(--label-bg-color);
  --section-border-color: var(--button-bg-color);
  --message-bg-color: var(--blockquote-bg-color);
  --message-accent-bg-color: var(--blockquote-border-color);
  --message-accent-fg-color: var(--fg-color);
  --walkthroughs-hover-filter: var(--stats-hover-filter);
  --collapsible-bg-color: var(--bg-color);
  --pager-bg-color: var(--navbar-bg-color);
  --pager-active-bg-color: var(--navbar-active-tab-bg-color);
  --pager-active-fg-color: var(--navbar-active-tab-fg-color);

  --fg-color-pickup: forestgreen;
  --fg-color-trap: deeppink;
  --fg-color-enemy: red;
  --fg-color-secret: darkgoldenrod;
  --fg-color-object: royalblue;

  --bg-color: var(--primary-color);
  --link-color: var(--secondary-color);
  --outline-color: var(--link-color);
}

[data-theme="midnight_ocean"] {
  --primary-color: #20232e;
  --secondary-color: #2196f3;
  --fg-color: #ededed;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-hover-color: #d0e6ed;
  --link-text-decoration: none;
  --input-bg-color: #a8c7e0;
  --input-fg-color: black;
  --input-disabled-bg-color: #c7c7c7;
  --button-bg-color: #1e67a1;
  --button-fg-color: white;
  --button-hovered-bg-color: #2f7ab6;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #171720;
  --navbar-active-tab-bg-color: #1c3160;
  --navbar-active-tab-fg-color: #d0e6ed;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --walkthroughs-hover-filter: brightness(140%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --fg-color-secret: goldenrod;
}

[data-theme="robotic"] {
  --primary-color: white;
  --secondary-color: red;
  --fg-color: black;
  --failure-fg-color: firebrick;
  --warning-fg-color: darkorange;
  --success-fg-color: green;
  --link-hover-color: var(--fg-color);
  --link-text-decoration: none;
  --input-bg-color: var(--bg-color);
  --input-fg-color: var(--fg-color);
  --input-disabled-bg-color: #dddddd;
  --button-bg-color: grey;
  --button-fg-color: white;
  --button-hovered-bg-color: silver;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #eaeaea;
  --navbar-active-tab-bg-color: #ddd;
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --reviews-positive-bg-color: hsl(110, 40%, 70%);
  --reviews-neutral-bg-color: hsl(60, 20%, 75%);
  --reviews-negative-bg-color: hsl(0, 40%, 75%);
  --stats-positive-bar-color: var(--link-color);
  --stats-neutral-bar-color: var(--link-color);
  --stats-negative-bar-color: var(--link-color);
  --stats-hover-filter: brightness(0%);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--button-bg-color);
  --message-accent-fg-color: var(--button-fg-color);
  --message-bg-color: var(--box-bg-color);
  --collapsible-bg-color: var(--navbar-active-tab-bg-color);
}

[data-theme="lettuce"] {
  --primary-hue: 54;
  --primary-sat: 100%;
  --primary-light: 90%;
  --primary-color: hsl(
    var(--primary-hue),
    var(--primary-sat),
    var(--primary-light)
  );

  --secondary-hue: 80;
  --secondary-sat: 61%;
  --secondary-light: 50%;
  --secondary-color: hsl(
    var(--secondary-hue),
    var(--secondary-sat),
    var(--secondary-light)
  );

  --fg-color: black;
  --failure-fg-color: #f32d0a;
  --warning-fg-color: #9e921e;
  --success-fg-color: #1e921e;
  --link-color: #1b5e60;
  --link-hover-color: var(--fg-color);
  --link-text-decoration: underline;
  --outline-color: var(--fg-color);
  --input-bg-color: hsl(var(--primary-hue), var(--primary-sat), 97%);
  --input-fg-color: var(--fg-color);
  --input-disabled-bg-color: hsl(var(--primary-hue), 0%, var(--primary-light));
  --button-bg-color: var(--secondary-color);
  --button-fg-color: var(--fg-color);
  --button-hovered-bg-color: var(--label-bg-color);
  --button-text-decoration: underline;
  --label-bg-color: hsl(var(--secondary-hue), 75%, 75%);
  --navbar-bg-color: var(--secondary-color);
  --navbar-active-tab-bg-color: var(--label-bg-color);
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --reviews-positive-bg-color: #78cf2f;
  --reviews-neutral-bg-color: #b1a338;
  --reviews-negative-bg-color: #f38561;
  --stats-positive-bar-color: var(--reviews-positive-bg-color);
  --stats-neutral-bar-color: var(--reviews-neutral-bg-color);
  --stats-negative-bar-color: var(--reviews-negative-bg-color);
  --stats-hover-filter: brightness(130%);
  --tab-switch-tabbed-active-bg-color: var(--button-bg-color);
  --message-bg-color: hsl(var(--secondary-hue), 75%, 75%);
  --blockquote-bg-color: hsl(var(--secondary-hue), 85%, 90%);
  --blockquote-border-color: var(--button-bg-color);
  --collapsible-bg-color: var(--navbar-active-tab-bg-color);
  --pager-bg-color: transparent;
}

[data-theme="sundown"] {
  --primary-color: #ffe0ac;
  --secondary-color: #bc1010;
  --fg-color: #000;
  --failure-fg-color: #f32d0a;
  --warning-fg-color: #cb8001;
  --success-fg-color: #1e921e;
  --link-hover-color: #4e0404;
  --link-text-decoration: none;
  --input-bg-color: #fff1d1;
  --input-fg-color: black;
  --input-disabled-bg-color: #e8e8e8e8;
  --button-bg-color: #bc1010;
  --button-fg-color: white;
  --button-hovered-bg-color: #d34848;
  --button-text-decoration: none;
  --label-bg-color: #ebc57c;
  --navbar-bg-color: #db9e2b;
  --navbar-active-tab-bg-color: #f9c96e;
  --navbar-active-tab-fg-color: 000;
  --sidebar-bg-color: var(--bg-color);
  --sidebar-padding: 0;
  --reviews-positive-bg-color: #538f38;
  --reviews-neutral-bg-color: #cc8610;
  --reviews-negative-bg-color: #bf2e2e;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #cc8610;
  --stats-negative-bar-color: #bf2e2e;
  --stats-hover-filter: brightness(190%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --collapsible-bg-color: var(--navbar-active-tab-bg-color);
  --pager-bg-color: transparent;
}

[data-theme="sepia_flashback"] {
  --primary-color: #332b26;
  --secondary-color: #cc993b;
  --fg-color: #fef2dc;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-hover-color: #eae0d3;
  --link-text-decoration: none;
  --input-bg-color: #e2d6c3;
  --input-fg-color: black;
  --input-disabled-bg-color: #eeeeee;
  --button-bg-color: #c69532;
  --button-fg-color: black;
  --button-hovered-bg-color: #daaa4b;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #1e1712;
  --navbar-active-tab-bg-color: #5d4825;
  --navbar-active-tab-fg-color: #eae0d3;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --walkthroughs-hover-filter: brightness(140%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --fg-color-secret: goldenrod;
}

[data-theme="diluted_calico"] {
  --primary-color: #2d2d2d;
  --secondary-color: #feb804;
  --fg-color: white;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-hover-color: #eee5cd;
  --link-text-decoration: none;
  --input-bg-color: #eee5cd;
  --input-fg-color: black;
  --input-disabled-bg-color: #eeeeee;
  --button-bg-color: #a87c0d;
  --button-fg-color: white;
  --button-hovered-bg-color: #c5961f;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #1f1f1f;
  --navbar-active-tab-bg-color: #634d14;
  --navbar-active-tab-fg-color: #eee5cd;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --fg-color-secret: goldenrod;
}

[data-theme="metropolis"] {
  --primary-color: #fdfdff;
  --secondary-color: hsl(240deg 100% 50%);
  --fg-color: #00003f;
  --failure-fg-color: #f44727;
  --warning-fg-color: #fafa00;
  --success-fg-color: #02bb02;
  --link-hover-color: #111145;
  --link-text-decoration: none;
  --input-bg-color: #f4faff;
  --input-fg-color: black;
  --input-disabled-bg-color: #dddddd;
  --button-bg-color: #00008b;
  --button-fg-color: white;
  --button-hovered-bg-color: #5f5fb4;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #cfcfcf;
  --navbar-active-tab-bg-color: #b9bdc6;
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: hsl(110, 40%, 70%);
  --reviews-neutral-bg-color: hsl(60deg 33% 69%);
  --reviews-negative-bg-color: hsl(0, 40%, 75%);
  --stats-positive-bar-color: #559b2f;
  --stats-neutral-bar-color: #bba934;
  --stats-negative-bar-color: #be381a;
  --stats-hover-filter: brightness(120%);
  --walkthroughs-hover-filter: brightness(0%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --collapsible-bg-color: var(--navbar-active-tab-bg-color);
}

[data-theme="film_noir"] {
  --primary-color: #1a1a1a;
  --secondary-color: #ff0000;
  --fg-color: #ededed;
  --failure-fg-color: tomato;
  --warning-fg-color: #ff0;
  --success-fg-color: #32cd32;
  --link-hover-color: #ffe9e9;
  --link-text-decoration: none;
  --input-bg-color: #e0a8a8;
  --input-fg-color: #000;
  --input-disabled-bg-color: #eeeeee;
  --button-bg-color: #a11e1e;
  --button-fg-color: #fff;
  --button-hovered-bg-color: #c13d3d;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #0d0d0d;
  --navbar-active-tab-bg-color: #601c1c;
  --navbar-active-tab-fg-color: #edd0d0;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --walkthroughs-hover-filter: invert() brightness(0.7) invert();
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --fg-color-secret: goldenrod;
}

[data-theme="mystic_forest"] {
  --primary-color: #19152e;
  --secondary-color: #31c11b;
  --fg-color: #f0edff;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-hover-color: #95ff85;
  --link-text-decoration: none;
  --input-bg-color: #c3e4b5;
  --input-fg-color: #000;
  --input-disabled-bg-color: #d8d8d8;
  --button-bg-color: #45a11e;
  --button-fg-color: #fff;
  --button-hovered-bg-color: #5bbb32;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #0a051b;
  --navbar-active-tab-bg-color: #2f5e1c;
  --navbar-active-tab-fg-color: #c3e4b5;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
  --fg-color-secret: goldenrod;
}

[data-theme="candy"] {
  --primary-color: #cce0ff;
  --secondary-color: #d900de;
  --fg-color: #4f0062;
  --failure-fg-color: #dd2100;
  --warning-fg-color: #cb8001;
  --success-fg-color: #1e921e;
  --link-highlight-bg-color: #6e9cf9;
  --link-highlight-fg-color: #5600a7;
  --link-text-decoration: none;
  --input-bg-color: #eaefff;
  --input-fg-color: #4c005e;
  --input-disabled-bg-color: #cccccc;
  --button-bg-color: #d900de;
  --button-fg-color: white;
  --button-hovered-bg-color: #ef5bf3;
  --button-text-decoration: none;
  --label-bg-color: #b6c8ff;
  --navbar-bg-color: #88b4ff;
  --navbar-active-tab-bg-color: #6e9cf9;
  --navbar-active-tab-fg-color: #5600a7;
  --sidebar-bg-color: var(--bg-color);
  --sidebar-padding: 0;
  --reviews-positive-bg-color: hsl(110, 40%, 70%);
  --reviews-neutral-bg-color: hsl(60deg 33% 69%);
  --reviews-negative-bg-color: hsl(0, 40%, 75%);
  --stats-positive-bar-color: #559b2f;
  --stats-neutral-bar-color: #bba934;
  --stats-negative-bar-color: #be381a;
  --stats-hover-filter: brightness(120%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
}
