:root {
  --input-border-color: var(--button-bg-color);
  --input-invalid-border-color: red;
  --button-hovered-fg-color: var(--button-fg-color);
  --tab-switch-active-bg-color: var(--navbar-active-tab-bg-color);
  --tab-switch-inactive-bg-color: var(--label-bg-color);
  --tab-switch-active-fg-color: var(--navbar-active-tab-fg-color);
  --tab-switch-inactive-fg-color: var(--fg-color);
  --article-bg-color: var(--label-bg-color);
  --news-bg-color: var(--article-bg-color);
  --section-border-color: var(--button-bg-color);
  --button-link-color: var(--link-color);
  --message-bg-color: var(--blockquote-bg-color);
  --message-accent-bg-color: var(--blockquote-border-color);
  --message-accent-fg-color: var(--fg-color);
  --levels-table-bg-color: var(--article-bg-color);
  --reviews-bg-color: var(--article-bg-color);
  --table-details-bg-color: var(--article-bg-color);
  --walkthroughs-hover-filter: var(--stats-hover-filter);
}

[data-theme="midnight_ocean"] {
  --primary-color: #20232e;
  --secondary-color: #2196f3;
  --bg-color: var(--primary-color);
  --fg-color: #ededed;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: #1c3160;
  --link-highlight-fg-color: #d0e6ed;
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --input-bg-color: #a8c7e0;
  --input-fg-color: black;
  --button-bg-color: #1e67a1;
  --button-fg-color: white;
  --button-hovered-bg-color: #2f7ab6;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #171720;
  --navbar-active-tab-bg-color: #1c3160;
  --navbar-active-tab-fg-color: #d0e6ed;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --walkthroughs-hover-filter: brightness(140%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
}

[data-theme="robotic"] {
  --primary-color: white;
  --secondary-color: red;
  --bg-color: var(--primary-color);
  --fg-color: black;
  --failure-fg-color: firebrick;
  --warning-fg-color: darkorange;
  --success-fg-color: green;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: var(--navbar-bg-color);
  --link-highlight-fg-color: var(--fg-color);
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --input-bg-color: var(--bg-color);
  --input-fg-color: var(--fg-color);
  --button-bg-color: grey;
  --button-fg-color: white;
  --button-link-color: var(--fg-color);
  --button-hovered-bg-color: silver;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #eaeaea;
  --navbar-active-tab-bg-color: #ddd;
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --reviews-positive-bg-color: hsl(110, 40%, 70%);
  --reviews-neutral-bg-color: hsl(60, 20%, 75%);
  --reviews-negative-bg-color: hsl(0, 40%, 75%);
  --stats-positive-bar-color: var(--link-color);
  --stats-neutral-bar-color: var(--link-color);
  --stats-negative-bar-color: var(--link-color);
  --stats-hover-filter: brightness(0%);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--button-bg-color);
  --message-accent-fg-color: var(--button-fg-color);
  --message-bg-color: var(--article-bg-color);
}

[data-theme="lettuce"] {
  --primary-hue: 80;
  --primary-sat: 61%;
  --primary-light: 50%;
  --primary-color: hsl(
    var(--primary-hue),
    var(--primary-sat),
    var(--primary-light)
  );

  --secondary-hue: 54;
  --secondary-sat: 100%;
  --secondary-light: 90%;
  --secondary-color: hsl(
    var(--secondary-hue),
    var(--secondary-sat),
    var(--secondary-light)
  );

  --bg-color: var(--secondary-color);
  --fg-color: black;
  --failure-fg-color: #f32d0a;
  --warning-fg-color: #9e921e;
  --success-fg-color: #1e921e;
  --link-color: #1b5e60;
  --link-highlight-bg-color: var(--button-hovered-bg-color);
  --link-highlight-fg-color: var(--fg-color);
  --link-text-decoration: underline;
  --outline-color: var(--fg-color);
  --input-bg-color: hsl(var(--secondary-hue), var(--secondary-sat), 97%);
  --input-fg-color: var(--fg-color);
  --button-bg-color: var(--primary-color);
  --button-fg-color: var(--fg-color);
  --button-hovered-bg-color: var(--label-bg-color);
  --button-text-decoration: underline;
  --label-bg-color: hsl(var(--primary-hue), 75%, 75%);
  --navbar-bg-color: var(--primary-color);
  --navbar-active-tab-bg-color: var(--label-bg-color);
  --navbar-active-tab-fg-color: var(--fg-color);
  --sidebar-bg-color: transparent;
  --sidebar-padding: 0;
  --reviews-positive-bg-color: #78cf2f;
  --reviews-neutral-bg-color: #b1a338;
  --reviews-negative-bg-color: #f38561;
  --stats-positive-bar-color: var(--reviews-positive-bg-color);
  --stats-neutral-bar-color: var(--reviews-neutral-bg-color);
  --stats-negative-bar-color: var(--reviews-negative-bg-color);
  --stats-hover-filter: brightness(130%);
  --tab-switch-active-bg-color: var(--button-bg-color);
  --message-bg-color: hsl(var(--primary-hue), 75%, 75%);
  --blockquote-bg-color: hsl(var(--primary-hue), 85%, 90%);
  --blockquote-border-color: var(--button-bg-color);
}

[data-theme="sundown"] {
  --primary-color: #ffe0ac;
  --secondary-color: #bc1010;
  --bg-color: var(--primary-color);
  --fg-color: #000;
  --failure-fg-color: #f32d0a;
  --warning-fg-color: #cb8001;
  --success-fg-color: #1e921e;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: #f9c96e;
  --link-highlight-fg-color: #000;
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --input-bg-color: #fff1d1;
  --input-fg-color: black;
  --button-bg-color: #bc1010;
  --button-fg-color: white;
  --button-hovered-bg-color: #d34848;
  --button-text-decoration: none;
  --label-bg-color: #ebc57c;
  --navbar-bg-color: #db9e2b;
  --navbar-active-tab-bg-color: #f9c96e;
  --navbar-active-tab-fg-color: 000;
  --sidebar-bg-color: var(--bg-color);
  --sidebar-padding: 0;
  --reviews-positive-bg-color: #538f38;
  --reviews-neutral-bg-color: #cc8610;
  --reviews-negative-bg-color: #bf2e2e;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #cc8610;
  --stats-negative-bar-color: #bf2e2e;
  --stats-hover-filter: brightness(190%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
}

[data-theme="sepia_flashback"] {
  --primary-color: #26211e;
  --secondary-color: #cb932a;
  --bg-color: var(--primary-color);
  --fg-color: #ededed;
  --failure-fg-color: tomato;
  --warning-fg-color: yellow;
  --success-fg-color: limegreen;
  --link-color: var(--secondary-color);
  --link-highlight-bg-color: #5d4825;
  --link-highlight-fg-color: #eae0d3;
  --link-text-decoration: none;
  --outline-color: var(--link-color);
  --input-bg-color: #e2d6c3;
  --input-fg-color: black;
  --button-bg-color: #a8802f;
  --button-fg-color: white;
  --button-hovered-bg-color: #c99d45;
  --button-text-decoration: none;
  --label-bg-color: var(--navbar-bg-color);
  --navbar-bg-color: #15100d;
  --navbar-active-tab-bg-color: #5d4825;
  --navbar-active-tab-fg-color: #eae0d3;
  --sidebar-bg-color: var(--navbar-bg-color);
  --sidebar-padding: 1;
  --reviews-positive-bg-color: #213913;
  --reviews-neutral-bg-color: #3c3c17;
  --reviews-negative-bg-color: #4d1f1f;
  --stats-positive-bar-color: #538f38;
  --stats-neutral-bar-color: #7b6032;
  --stats-negative-bar-color: #a62626;
  --stats-hover-filter: brightness(190%);
  --walkthroughs-hover-filter: brightness(140%);
  --message-bg-color: var(--sidebar-bg-color);
  --blockquote-bg-color: var(--bg-color);
  --blockquote-border-color: var(--link-color);
}
