.levelName,
.authorName {
  width: 50%;
}

.rating {
  white-space: nowrap;
  width: 20%;
  text-align: center;
}

.created,
.updated,
.actions {
  white-space: nowrap;
  width: 5%;
}
.actions {
  display: none;
  white-space: nowrap;
  width: 5%;
  text-align: right;
}
