.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas: "left main right";
  grid-template-columns: 2fr 5fr 2fr;
}

@media (max-device-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "left right"
      "main main";
  }
}

@media (max-device-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "main"
      "right";
  }
}

.main {
  grid-area: main;
}
.left {
  grid-area: left;
  white-space: nowrap;
}
.right {
  grid-area: right;
}
