.toolbar {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sortControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
