.table .username {
  width: 24%;
}
.table .firstName,
.table .lastName {
  width: 18%;
}
.table .created,
.table .lastLogin,
.table .updated,
.table .authoredLevelCount {
  width: 10%;
  white-space: nowrap;
}
