.TextAreaFormField--textarea {
  border: 2px solid var(--input-border-color);
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  padding: 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.3);
  width: 100%;
  height: 100%;
  min-width: 30rem;
  min-height: 15rem;
  box-sizing: border-box;
  vertical-align: top;
}

.TextAreaFormField--preview {
  min-height: 15rem;
  padding: 0.5rem;
  background: var(--reviews-bg-color);
}

.TextAreaFormField .TabSwitch--content {
  min-width: 30rem;
  display: inline-block;
  overflow-y: auto;
}
