.TextFormField--input {
  border: 2px solid var(--input-border-color);
  background: var(--input-bg-color);
  color: var(--input-fg-color);
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  min-width: 15rem;
  box-sizing: border-box;
}
.TextFormField--input:focus {
  outline: 0;
  border-color: var(--outline-color);
}
.TextFormField--input:invalid {
  border-color: var(--input-invalid-border-color);
}
