.wrapper {
  display: inline-block;
  position: relative;

  &:has(.content:empty) {
    display: none;
  }
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: none;
  padding: 0;
  z-index: 2;
  background: var(--button-soft-bg-color);
  transition: background var(--transition-speed);

  /* zero children - no icon */
  &:has(+ .content:empty) {
    display: none;
  }
  /* single child - no icon */
  &:has(+ .content > *:only-child) {
    display: none;
  }
}

/* special styling only if there's more than one child */
.content:not(:has(> :only-child)) {
  position: absolute;
  right: 0;
  background: var(--v2-bg-color-1);
  border: 1px solid var(--v2-fg-color-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1;

  opacity: 0;
  transform: scaleY(0.5);
  transform-origin: top right;
  transition: all 0.2s ease;

  &.open {
    opacity: 1;
    transform: scaleY(1);
  }

  &:empty {
    display: none;
  }
}
