.DataTable th button {
  font-weight: bold;
}
.DataTable {
  border-spacing: 0;
  width: 100%;
}
.DataTable th,
.DataTable td {
  padding: 0.15rem 0.5rem;
}
.DataTable th:first-child,
.DataTable td:first-child {
  padding-left: 0;
}
.DataTable th:last-child,
.DataTable td:last-child {
  padding-right: 0;
}

.DataTable .DataTable--details td {
  background: var(--box-bg-color);
  padding: 1rem;
}
.DataTable .DataTable--details td > *:first-child {
  margin-top: 0;
}
.DataTable .DataTable--details td > *:last-child {
  margin-bottom: 0;
}
