.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  text-align: left;
  padding: 0.5rem;
}
.table th {
  border-bottom: 1px solid var(--input-border-color);
}

.tableWrapper {
  max-height: 60vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: none;
  background: var(--secondary-color);
  border-radius: 0;
}
