.AutoComplete .PushButton {
  margin-left: 0.5rem;
}

.AutoCompleteSuggestions {
  position: absolute;
  max-height: 20rem;
  min-width: 15rem;
  overflow-y: auto;
  border: 2px solid var(--outline-color);
  background: var(--input-background-color);
  box-sizing: border-box;
  margin-top: -2px;
}

.AutoCompleteSuggestions--empty {
  padding: 0 0.5rem;
}

.AutoCompleteSuggestions--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.AutoCompleteSuggestions--listItem {
  padding: 0 0.5rem;
}

.AutoCompleteSuggestions--listItem.active,
.AutoCompleteSuggestions--listItem:hover {
  background: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.AutoCompleteSuggestions--listItem:not(:last-of-type) {
  border-bottom: 1px solid var(--input-border-color);
}
