.FilePicker {
  vertical-align: top;
}

.FilePicker--dropArea {
  display: flex;
  min-height: 5rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background: var(--background-color);
  border: 3px dashed var(--button-background-color);
  line-height: 140%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
}

.FilePicker--fileInput {
  display: none;
}

.FilePicker--fileInput:disabled + .FilePicker--dropArea {
  cursor: default;
  opacity: 0.5;
}

.FilePicker--fileInput:active + .FilePicker--dropArea,
.FilePicker--fileInput:focus + .FilePicker--dropArea,
.FilePicker--dropArea.active {
  border-color: var(--text-color);
}

.FilePicker--previews {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: center;
}

.FilePickerPreviewWrapper--reorderSource {
  opacity: 0.5;
}
.FilePickerReorderTarget {
  position: relative;
  top: -1rem;
  bottom: -1rem;
  margin: -0.333rem;
  width: 3px;
}
.FilePickerReorderTarget.active {
  background: var(--text-color);
}
.FilePickerReorderTarget--zone {
  position: absolute;
  top: -2rem;
  bottom: -2rem;
  left: -6rem;
  right: -6rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.FilePickerReorderTarget.dropActive .FilePickerReorderTarget--zone {
  pointer-events: unset;
}
