.LevelsTable thead {
  display: none;
}

.DataTable .LevelsTable--image {
  text-align: center;
}

.LevelsTable .DataTable--cell {
}

.LevelsTable.DataTable {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem 0;
}

.LevelsTable .DataTable--body {
  display: contents;
}
.LevelsTable .DataTable--row {
  display: contents;
}
.LevelsTable .DataTable--cell[colspan] {
  padding: calc(var(--levels-table-padding) * 0.5rem);
  grid-column: 1 / span 2;
}
.LevelsTable .DataTable--cell[colspan] > p {
  margin: 0;
}
.LevelsTable .DataTable--cell {
  box-sizing: border-box;
  background: var(--levels-table-background-color);
  padding: 0;
}
.LevelsTable--image {
  aspect-ratio: calc(4 / 3);
}

.DataTable .LevelsTable--image {
  padding: calc(var(--levels-table-padding) * 0.5rem) !important;
  padding-right: 1rem !important;
}
.DataTable .LevelsTable--details {
  padding: calc(var(--levels-table-padding) * 0.5rem) !important;
  padding-left: 0 !important;
}
.LevelsTable--image,
.LevelsTable--details {
  vertical-align: top;
}
.LevelsTable--details small {
  line-height: 1.2rem;
  display: inline-block;
}
.LevelsTable--details {
  width: 100%;
}
.LevelsTable--previewLink {
  display: block;
  width: 100%;
  height: 100%;
}
.LevelsTable--previewLink:hover {
  opacity: 0.9;
}
.LevelsTable--previewImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.LevelsTable--statusApproved {
  color: var(--success-text-color);
}
.LevelsTable--statusPending {
  color: var(--warning-text-color);
}
.LevelsTable--statusRejected {
  color: var(--failure-text-color);
}
.LevelsTable--authorList {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.LevelsTable--authorListItem {
  display: inline;
}
.LevelsTable--authorListItem:not(:last-child):after {
  content: ", ";
  padding: 0;
}
