.LevelsTable thead {
  display: none;
}

.DataTable .LevelsTable--image {
  text-align: center;
}

.DataTable .LevelsTable--image,
.DataTable .LevelsTable--details {
  padding-bottom: 1rem;
}
.LevelsTable--image,
.LevelsTable--details {
  vertical-align: top;
}
.LevelsTable--details small {
  line-height: 1.2rem;
  display: inline-block;
}
.LevelsTable--details {
  width: 100%;
}
.LevelsTable--previewLink {
  display: block;
  aspect-ratio: calc(4 / 3);
  height: 8rem;
}
.LevelsTable--previewImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.LevelsTable--statusApproved {
  color: var(--success-text-color);
}
.LevelsTable--statusPending {
  color: var(--warning-text-color);
}
.LevelsTable--statusRejected {
  color: var(--failure-text-color);
}
.LevelsTable--authorList {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.LevelsTable--authorListItem {
  display: inline;
}
.LevelsTable--authorListItem:not(:last-child):after {
  content: ", ";
  padding: 0;
}
