.LevelsTable thead {
  display: none;
}
.DataTable .LevelsTable--image,
.DataTable .LevelsTable--details {
  padding-bottom: 1rem;
}
.LevelsTable--image,
.LevelsTable--details {
  vertical-align: middle;
}
.LevelsTable--details small {
  line-height: 1.2rem;
  display: inline-block;
}
.LevelsTable--details {
  width: 100%;
}
.LevelsTable .MediumThumbnail--thumb {
  max-height: 8rem;
}
