.MediumThumbnail--full {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  visibility: hidden;
  padding: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
}
.MediumThumbnail--full.active {
  opacity: 1;
  visibility: visible;
}

.MediumThumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
}
.MediumThumbnail--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
}
.MediumThumbnail:hover .MediumThumbnail--overlay {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

.MediumThumbnail img {
  display: block;
}
.MediumThumbnail--full img {
  flex-grow: 0;
  object-fit: contain;
}

.MediumThumbnail--thumb {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: calc(4 / 3);
}
.MediumThumbnail--thumb:hover {
  opacity: 0.9;
}

.MediumThumbnail--thumb,
.MediumThumbnail--full {
  cursor: pointer;
}

.MediumThumbnail .PushButton--link {
  display: flex;
  align-items: center;
  color: silver;
}
.MediumThumbnail .PushButton--link:hover {
  color: white;
}
