.MediumThumbnails {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.MediumThumbnails img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.MediumThumbnail--full,
.MediumThumbnail--full img {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.MediumThumbnail--full img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MediumThumbnail--thumb,
.MediumThumbnail--full {
  cursor: pointer;
}
.MediumThumbnail--full {
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
}
.MediumThumbnail--full.active {
  opacity: 1;
  visibility: visible;
}
