.MediumThumbnail--full {
  position: fixed;
  display: flex;
  justify-content: center;
  visibility: hidden;
  padding: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
}
.MediumThumbnail--full.active {
  opacity: 1;
  visibility: visible;
}

.MediumThumbnail--full img {
  flex-grow: 0;
  object-fit: contain;
}

.MediumThumbnail--thumb {
  display: block;
}

.MediumThumbnail--thumb,
.MediumThumbnail--full {
  cursor: pointer;
}
