.Pager {
  margin: 2rem 0;
}
.Pager ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.Pager li {
  text-align: center;
  margin: 0 0.5rem 0 0;
}

.Pager--ellipsis {
  opacity: 0.25;
}

.Pager span,
.Pager .Pager--button {
  display: inline-block;
  width: 3.5rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.Pager li.active {
  background: var(--link-highlight-background-color);
}
.Pager li.active .Pager--button {
  color: var(--link-highlight-text-color);
}
