.ProgressBar {
  text-align: center;
}
.ProgressBar--container {
  height: 0.5rem;
  max-width: 10rem;
  margin: 0.5rem auto;
  outline: 2px solid var(--input-border-color);
  border-radius: 0.5rem;
  position: relative;
}

.ProgressBar--indicator {
  height: 100%;
  background: var(--label-background-color);
}
