.ReviewsTable--author {
  width: 26%;
}
.ReviewsTable--ratingGameplay {
  width: 12%;
  text-align: center;
}
.ReviewsTable--ratingEnemies {
  width: 17%;
  text-align: center;
}
.ReviewsTable--ratingAtmosphere {
  width: 18%;
  text-align: center;
}
.ReviewsTable--ratingLighting {
  width: 12%;
  text-align: center;
}
.ReviewsTable--created {
  width: 15%;
  white-space: nowrap;
}
.ReviewsTable .SortLink {
  white-space: normal;
}
