.SearchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.SearchBar .FormField {
  margin-bottom: 0;
  display: contents;
}
.SearchBar .FormField--label {
  display: inline;
}
.SearchBar .FormField--field {
  display: inline;
  flex-grow: 0;
}
